@model IEnumerable<IranSoftjo.Package.WebUi.ViewModels.AgrTblVisitTreeVm>
@{
    ViewBag.Title = "بازدید درخت ها";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <hr />
</hgroup>


<div class="k-rtl">



    @(Html.Kendo().Grid(Model)
    .Name("Grid")
    .Columns(columns =>
    {
        columns.Bound(item => @item.TblVisitTreeId).Title("دستورات").Filterable(false).Groupable(false)
            .Template(@<text>
                          @Html.ActionLink("موقعیت بروی نقشه", "SearchByManhoId", new {id = @item.TblVisitTreeId}, new {@class = "k-button k-button-icontext k-grid-edit"})
                          @Html.ActionLink( "تصاویر دیگر", "Index", "TblPhotoList", new {id = @item.TblVisitTreeId}, new {@class = "k-button k-button-icontext k-grid-edit"})
                          @Html.ActionLink("جزئیات", "Details", new {id = @item.TblVisitTreeId}, new {@class = "k-button k-button-icontext k-grid-delete"})
                          @Html.ActionLink("ویرایش", "Edit", new {id = @item.TblVisitTreeId}, new {@class = "k-button k-button-icontext k-grid-edit"})
                          @Html.ActionLink("حذف", "Delete", new {id = @item.TblVisitTreeId}, new {@class = "k-button k-button-icontext k-grid-delete"})
                       </text>).Width(230);
        columns.Bound(model => model.TblVisitTreeId).Visible(false);
        columns.Bound(model => model.Height);
        columns.Bound(model => model.Diversion);
        columns.Bound(model => model.Pest);
        columns.Bound(model => model.Sickness);
        columns.Bound(model => model.DateSabt).Width(100);
        columns.Bound(model => model.TblUserId);
    })
    .Pageable(d => d.PageSizes(true).Refresh(true))
    .Sortable()
    .Scrollable()
    .Filterable().Groupable()

    .HtmlAttributes(new {style = "height:600px; "})
    .DataSource(dataSource => dataSource
        .Server()
        .Model(model => model.Id(item => item.TblVisitTreeId)).PageSize(7)
    )
    .Resizable(resize => resize.Columns(true))
    .ColumnMenu()
    )
</div>
<style>
    .container {
    width: 1300px !important;
}
</style>