@model IranSoftjo.Package.WebUi.ViewModels.GalleryGroupVM
@using IranSoftjo.Core.Web.Mvc.Html
@{
    ViewBag.Title = "افزودن گروه گالری";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@using (Html.BeginForm())
{
    <table class="form">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.EnhancedEditorField(model => model.GalleryGroupTitle)
        @Html.EnhancedEditorField(model => model.GalleryGroupOrder)
        @Html.EnhancedCheckBoxField(model => model.IsActive)
        @Html.EnhancedSubmit("ایجاد")
    </table>
}
<div>
    @Html.ActionLink("بازگشت به لیست", "Index")
</div>
