@model IranSoftjo.Package.WebUi.ViewModels.GalleryGroupVM
@using IranSoftjo.Core.Web.Mvc.Html
@{
    ViewBag.Title = "ویرایش گروه گالری";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@using (Html.BeginForm())
{
    <table class="form">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.GalleryGroupId)
        @Html.EnhancedEditorField(model => model.GalleryGroupTitle)
        @Html.EnhancedEditorField(model => model.GalleryGroupOrder)
        @Html.EnhancedCheckBoxField(model => model.IsActive)
        @Html.EnhancedSubmit("ویرایش")
    </table>
}
<div>
    @Html.ActionLink("بازگشت به لیست", "Index")
</div>
