@using IranSoftjo.Package.DataModel
@model IEnumerable<IranSoftjo.Package.WebUi.ViewModels.GalleryGroupVM>
@{
    ViewBag.Title = "لیست گالری های عکسها";
    Layout = "~/Views/Shared/_LayoutBox.cshtml";
    int left = -80;
    //var db = new Entities();
    //var dd = db.SiteSettings.FirstOrDefault().SliderType;
    string Sleft = "";
}
<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <hr />
</hgroup>
<link rel="stylesheet" href="/Content/GplusAlbum/style.css">
<script src="/Scripts/GplusAlbum/app.js"></script>
<div id="page_wrap">
    @foreach (var item in Model)
    {
        Sleft = "margin-right:" + left + "px";
        left = left + 220;
        var tt = item.Galleries.Take(3).ToList();
        <a href="@Url.Action("PageGalleryLightbox", "Gallery", new { id = item.GalleryGroupId })">
            <div class="image_stack" style="@Sleft">
                <h1 style="text-align: center; margin-bottom: 30px;">@item.GalleryGroupTitle</h1>
                @for (int i = 1; i < tt.Count + 1; i++)
                {
                    var name = "photo" + @i;
                    <img id="@name" class="stackphotos" src="@item.Galleries[i - 1].GalleryImageUrlThumb" alt='عکس'>
                }
            </div>
        </a>
    }
</div>
