@using IranSoftjo.Core.Web.Mvc.Html
@model IranSoftjo.Package.WebUi.ViewModels.ProductTypeVM
@{
    ViewBag.Title = "حذف نوع محصول";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@using (Html.BeginForm())
{
    <table class="form">

        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.ProductTypeID)
        @Html.EnhancedLabelField(model => model.ProductTypeTitle)
        @Html.EnhancedSubmit("حذف")
    </table>
}
<div>
    @Html.ActionLink("بازگشت به لیست", "Index")
</div>
