@using IranSoftjo.Core.Web.Mvc.Html
@model IranSoftjo.Package.WebUi.ViewModels.PageVM
@{
    ViewBag.Title = "حذف صفحه";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="BreadCrumbPage">
    @Html.ActionLink("لیست صفحات", "Index")
    <strong>>></strong>
    @Html.ActionLink("حذف صفحه", "Delete")
</div>
<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <hr />
</hgroup>
@using (Html.BeginForm())
{
    <table class="form">
        
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.PageID)
        @Html.EnhancedLabelField(model => model.PageGroupTitle)
        @Html.EnhancedLabelField(model => model.PageTitle)
        @Html.EnhancedLabelField(model => model.PageText)
        @Html.EnhancedLabelField(model => model.PageDate)
        @Html.EnhancedSubmit("حذف صفحه")
    </table>
}
@Html.ActionLink("بازگشت به لیست", "Index")