@using IranSoftjo.Core.Web.Mvc.Html
@using IranSoftjo.Package.WebUi.Configs
@model IranSoftjo.Package.WebUi.ViewModels.TblDocumentTreeVm
@{
    ViewBag.Title = "حذف درخت";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <hr />
</hgroup>


<div style="box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5); height: auto;">
    <div style="float: left; margin: 10px;">
        <a href="/AgrTblDocumentTree/SearchByManhoId/@Model.TblDocumentTreeId">
            <div>
                <img style="float: left;" width="60%" height="60%" src="/Package/Manhol/Photo/GPS.png" alt="@Model.Pelak" title="@Model.Pelak" />
            </div>
            <div style="float: left; margin-top: 0px;">
                نمایش موقعیت روی نقشه
            </div>
        </a>
    </div>

    <div>
        <div style="margin: 30px; padding: 20px;">
            <hr />
            <label style="color: red" class="fieldLabel">مشخصات مکانی </label>
            <hr />
            @Html.EnhancedLabelField(model => model.Pelak)
            @Html.EnhancedLabelField(model => model.YearPlanting)
            @Html.EnhancedLabelField(model => model.DateSabt)
            @Html.EnhancedLabelField(model => model.Latitude)
            @Html.EnhancedLabelField(model => model.Longitude)

            @Html.EnhancedLabelField(model => model.Address)
            <hr />
            <label style="color: red" class="fieldLabel">مشخصات درخت </label>
            <hr />

           
            @Html.EnhancedLabelField(model => model.TblUserId)
          
            @using (Html.BeginForm())
            {
                <table class="form">
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.TblDocumentTreeId)
                    @Html.EnhancedSubmit("حذف درخت")
                </table>
            }
        </div>
    </div>

</div>

<div>
    @Html.ActionLink("بازگشت به لیست", "List")
</div>

