@using IranSoftjo.Core.Web.Mvc.Html
@model IranSoftjo.Package.WebUi.ViewModels.PageGroupVM
@{
    ViewBag.Title = "افزودن منو";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="BreadCrumbPage">
    @Html.ActionLink("لیست منوها", "Index")
    <strong>>></strong>
    @Html.ActionLink("افزودن منو جدید", "Create")
</div>
<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <hr />
</hgroup>
@using (Html.BeginForm())
{
    <table class="form">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <span>چیدمان منوهای سایت:</span>
        @(Html.Kendo().TreeView()
              .HtmlAttributes(new {style = "width:96%x;background-color:#e3e3e3;padding: 15px;"})
              .Animation(animation => animation.Expand(open =>
                                                       {
                                                           open.Expand(ExpandDirection.Horizontal);
                                                           open.SlideIn(SlideDirection.Down);
                                                           open.Fade(FadeDirection.In);
                                                       }))
              .Name("treeview")
              .Events(events => events
                  .Select("onSelect")
                  .DataBound("dataBound")
              )
              .ExpandAll(true)
              .HighlightPath(true)
              .DataTextField("Name")
              .DataSource(dataSource => dataSource
                  .Read(read => read
                      .Action("PageGroupTree", "PageGroup")
                  )
              )
              )
        <script>
            var treeview;

            function dataBound(e) {
                var treeview = $("#treeview").data("kendoTreeView");
                treeview.loadOnDemand = false;
                treeview.expand('.k-item');
            }

            function onSelect(e) {
                var nodeid = $("#treeview").getKendoTreeView().dataItem(e.node).id;
                $("#PageGroupIDTree").val(nodeid);
            }

            $(document).ready(function() {
                treeview = $("#treeview").data("kendoTreeView");
            });
        </script>
        @Html.HiddenFor(model => model.PageGroupIDTree)
        @Html.EnhancedDropDownListField(model => model.PageGroupType, Model.SelectListPageGroupType)
   
        @Html.EnhancedEditorField(model => model.PageGroupTitle)
        @Html.EnhancedEditorField(model => model.PageGroupOrder)
        @Html.EnhancedCheckBoxField(model => model.PageGroupIsActive)
        @Html.EnhancedCheckBoxField(model => model.IsSubMenu)
        @Html.EnhancedCheckBoxField(model => model.IsMenuLink)
        @Html.EnhancedSubmit("ایجاد")
    </table>
}
<div>
    @Html.ActionLink("بازگشت به لیست", "Index")
</div>