@using IranSoftjo.Core.Web.Mvc.Html
@model IranSoftjo.Package.WebUi.ViewModels.TblPhotoListVM
@{
    ViewBag.Title = "افزودن";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<hgroup class="title">
    <h1> @ViewBag.Title</h1>
    <hr />
</hgroup>
@using (Html.BeginForm("Create", "TblPhotoList", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <table class="form">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.ItemId)
        @Html.EnhancedEditorField(model => model.Title)
        <td class="labelWrp">
            <label for="ProductGroupID" class="fieldLabel">@Html.LabelFor(model => model.ImageUrl)</label>
        </td>
        <td colspan="1" class="inputWrp">
            @Html.Kendo().Upload().Name("file").Multiple(false).Async(async => async.Save("SaveFile", "TblPhotoList"))
        </td>
        @Html.EnhancedSubmit("ذخیره")
    </table>
}

<div>
    @Html.ActionLink("بازگشت به لیست", "Index")
</div>
