@using IranSoftjo.Package.DataModel
@model List<TblPhotoList>
@{
    Layout = null;
}
<link rel="stylesheet" type="text/css" href="~/Content/Lightbox/style.css" />
@for (int i = 0; i < Model.Count(); i++)
{
    TblPhotoList item = Model[i];
    <p>
        @{
            string nex = (i + 1).ToString();
            string pre = (i - 1).ToString();
        }
        <ul class="lb-album">
            <li>
                <a href="#image-@i">
                    <img width="150px" height="150px" src="@item.ThumbnailImageUrl" alt="@item.Title">
                    <span>@item.Title</span>
                </a>
                <div class="lb-overlay" id="image-@i">
                    <img src="@item.ImageUrl" alt="@item.Title" />
                    <div>
                        <h3>@item.Title</h3>
                        <a href="#image-@pre" class="lb-prev">قبلی</a>
                        <a href="#image-@nex" class="lb-next">بعدی</a>
                    </div>
                    <a href="#page" class="lb-close">X  خروج</a>
                </div>
            </li>

        </ul>
    </p>
}