@model IEnumerable<IranSoftjo.Package.WebUi.ViewModels.MarqueesVM>
@{
    ViewBag.Title = "افزودن پیام";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="k-rtl">
    @(Html.Kendo().Grid(Model)
          .Name("Grid")
          .Columns(columns =>
                   {
                       columns.Bound(model => model.MarqueeID).Visible(false).Width(60);
                       columns.Bound(model => model.Title).Width(300);
                       columns.Bound(model => model.MarqueeUrl).Width(100);
                       columns.Bound(item => @item.MarqueeID).Title("دستورات").Filterable(false).Groupable(false)
                           .Template(
                               @<text>
    @Html.ActionLink("ویرایش", "Edit", new { id = @item.MarqueeID }, new { @class = "k-button k-button-icontext k-grid-edit" })
    @Html.ActionLink("حذف", "Delete", new { id = @item.MarqueeID }, new { @class = "k-button k-button-icontext k-grid-delete" })
    </text>
                           ).Width(140);
                   })
        .ToolBar(toolbar => toolbar.Custom().Action("Create", "Marquees").Text("افزودن"))
          .Sortable()
          .Scrollable()
          .Filterable()
          .HtmlAttributes(new { style = "height:500px;" })
          .DataSource(dataSource => dataSource
              .Server()
              .Model(model => model.Id(item => item.MarqueeID))
          )
          )
</div>

