@using IranSoftjo.Package.WebUi.Controllers
@model IEnumerable<IranSoftjo.Package.WebUi.ViewModels.TblProjectVm>

@{
    ViewBag.Title = "لیست پروژه ها";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <hr/>
</hgroup>
<div class="k-rtl">
    @(Html.Kendo().Grid(Model)
          .Name("Grid")
          .Columns(columns =>
          {
              columns.Bound(model => model.TblProjectId).Visible(false);
              columns.Bound(item => @item.TblProjectId).Title("لیست").Filterable(false).Groupable(false)
                  .Template(@<text>
                                @Html.ActionLink("لیست جبهه کاری", "ItemList", "RasTblItems", new { id = @item.TblProjectId }, new { @class = "k-button k-button-icontext k-grid-delete" })
                                @if (item.IsGoogleMap)
                                {
                                    @Html.ActionLink("نمایش رو نقشه", "SearchMap", "RasTblItems", new { id = @item.TblProjectId }, new { @class = "k-button k-button-icontext k-grid-delete" })
                                }
                             </text>).Width(250);
              columns.Bound(model => model.ProjectCode).Width(70);
              columns.Bound(model => model.ProjectName);
              columns.Bound(model => model.KarfarmaName);
              columns.Bound(model => model.PeimanKarJozName);
              columns.Bound(item => @item.TblProjectId).Title("دستورات").Filterable(false).Groupable(false)
                  .Template(@<text>
                                @Html.ActionLink("جزئیات", "ProjectDetails", new { id = @item.TblProjectId }, new { @class = "k-button k-button-icontext k-grid-delete" })
                                @Html.ActionLink("ویرایش", "ProjectEdit", new { id = @item.TblProjectId }, new { @class = "k-button k-button-icontext k-grid-edit" })
                                @Html.ActionLink("حذف", "ProjectDelete", new { id = @item.TblProjectId }, new { @class = "k-button k-button-icontext k-grid-delete" })
                             </text>).Width(230);
          })
          .ToolBar(toolbar => toolbar.Custom().Action("ProjectCreate", "RasTblProject").Text("افزودن پروژه جدید"))
          .Pageable(d => d.PageSizes(true).Refresh(true))
          .Sortable()
          .Scrollable()
          .Filterable().Groupable()
          .HtmlAttributes(new {style = "height:600px; "})
          .DataSource(dataSource => dataSource
              .Server()
              .Model(model => model.Id(item => item.TblProjectId)).PageSize(7)
          )
          .Resizable(resize => resize.Columns(true))
          .ColumnMenu()
          )
</div>

<style>
    .container { width: 1300px !important; }
</style>