@using IranSoftjo.Core.Web.Mvc.Html
@model IranSoftjo.Package.WebUi.ViewModels.ProductImageVM
@{
    ViewBag.Title = "افزودن";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm("Create", "ProductImage", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <table class="form">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.ProductID)
        @Html.EnhancedEditorField(model => model.ProductImageTitle)
        <td class="labelWrp">
            <label for="ProductGroupID" class="fieldLabel">@Html.LabelFor(model => model.ProductImageUrl)</label>
        </td>
        <td colspan="1" class="inputWrp">
            @Html.Kendo().Upload().Name("file").Multiple(false).Async(async => async.Save("SaveFile", "ProductImage"))
        </td>
        @Html.EnhancedSubmit("ذخیره")
    </table>
}

<div>
    @Html.ActionLink("بازگشت به لیست", "Index")
</div>
