@using IranSoftjo.Core.Web.Mvc.Html
@model IranSoftjo.Package.WebUi.ViewModels.AgencyVM
@{
    ViewBag.Title = "درخواست نمایندگی";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@Html.Partial("_KendoFilePartial")
<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <hr />
    <h2>جهت درخواست نمایندگی لطفا مشخصات زیر را وارد نمایید. </h2>
</hgroup>
<table class="form">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.EnhancedEditorField(model => model.Name)
        @Html.EnhancedEditorField(model => model.Phone, new { @class = "numeric" }, "نمونه  : ۰۲۱۲۲۰۰۰۲۲۶۶")
        @Html.EnhancedEditorField(model => model.Mobile, new { @class = "numeric" }, "نمونه  :  ۰۹۱۲۰۰۰۲۲۶۶")
        @Html.EnhancedEditorField(model => model.Manager)
        @Html.EnhancedEditorField(model => model.Email, null, "نمونه : myname@samplesite.com")
        @Html.EnhancedEditorField(model => model.Country)
        @Html.EnhancedEditorField(model => model.City)
        @Html.EnhancedTextAreaField(model => model.Address)
           @Html.EnhancedTextAreaField(model => model.Description)
        <td class="labelWrp">
            <label for="ProductGroupID" class="fieldLabel">@Html.LabelFor(model => model.ImageUrl)</label>
        </td>
        <td colspan="1" class="inputWrp">
            @Html.Kendo().Upload().Name("file").Multiple(false).Async(async => async.Save("SaveFile", "Agency"))
        </td>
     
        @Html.EnhancedEditorField(model => model.AgencyConditions, null, "شرایط و ضوابط نمایندگی را خوانده ام و قبول دارم.") 
        @Html.EnhancedSubmit("ثبت درخواست")
    }
</table>
