<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
    <!-- END SIDEBAR -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
        <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
        <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
        <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
        <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
        <ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-hover-submenu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
            <li class="nav-item start active open">
                <a href="@Url.Action("Index", "Account")" class="nav-link">
                    <i class="icon-home"></i>
                    <span class="title">پنل مدیریتی</span>
                    <span class="selected"></span>
                    <span class="arrow open"></span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="@Url.Action("PendingAuthentication","Admin")" class="nav-link">
                    <i class="fa fa-lock"></i>
                    <span class="title">در انتظار تایید هویت ها</span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="@Url.Action("Index","User")" class="nav-link">
                    <i class="fa fa-exchange"></i>
                    <span class="title">لیست تمامی کاربران</span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="@Url.Action("MyAccount","Dashboard")" class="nav-link">
                    <i class="fa fa-user"></i>
                    <span class="title">تمامی حسابهای کاربری </span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="@Url.Action("Finance","Dashboard")" class="nav-link">
                    <i class="fa fa-credit-card"></i>
                    <span class="title">تمامی امور مالی</span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="@Url.Action("LoginLogs","Account")" class="nav-link">
                    <i class="fa fa-lock"></i>
                    <span class="title">همه ورود و خروج ها</span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="@Url.Action("Logout", "Account")"  class="nav-link">
                    <i class="fa fa-sign-out"></i>
                    <span class="title">خروج از پنل مدیریتی</span>
                </a>
            </li>
        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
</div>
<!-- END SIDEBAR -->
