@using IranSoftjo.Package.DataModel
@{
    Entities _db = new Entities();
    string userName = User.Identity.Name;
    User user = _db.Users.FirstOrDefault(d => d.Username == userName);
}
<a href="javascript:;" class="page-quick-sidebar-toggler">
    <i class="icon-login"></i>
</a>
<div class="page-quick-sidebar-wrapper" data-close-on-body-click="false">
    <div class="page-quick-sidebar">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="javascript:;" data-target="#quick_sidebar_tab_1" data-toggle="tab">
                    همکاران قابل دسترس
                    <span class="badge badge-danger">2</span>
                </a>
            </li>
            <li>
                <a href="javascript:;" data-target="#quick_sidebar_tab_2" data-toggle="tab">
                    پیام ها
                    <span class="badge badge-success">7</span>
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active page-quick-sidebar-chat" id="quick_sidebar_tab_1">
                <div class="page-quick-sidebar-chat-users" data-rail-color="#ddd" data-wrapper-class="page-quick-sidebar-list">
                    @*<a href="@Url.Action("AddFriend", "Account")" class="btn btn-default blue" style="width: 88%; margin: 0 15px 15px 0;">
                        <i class="fa fa-plus"></i>
                        افزودن دوست جدید
                    </a>
                    <h3 class="list-heading Default-Font">درخواست دوستی</h3>
                    <ul class="media-list list-items">
                        @foreach (var item in _db.AddFriends.Where(d => d.IsAccept == false && (d.User2ID == user.UserID || d.User1ID == user.UserID)))
                        {
                            User user2 = _db.Users.FirstOrDefault(d => d.UserID == item.User2ID);
                            User user1 = _db.Users.FirstOrDefault(d => d.UserID == item.User1ID);
                            <li class="media">
                                @if (user != null && !string.IsNullOrEmpty(user.ImageUrlProfile))
                                {
                                    <img class="media-object" src="@user.ImageUrlProfile" />
                                }
                                else
                                {
                                    <img class="media-object" src="~/PackageAdmin/img/User.png" />
                                }

                                <div class="media-body">

                                    @if (user.UserID == item.User1ID)
                                    {
                                        <h4 class="media-heading Default-Font"> @user2.FirstName @user2.LastName</h4>
                                        <div class="media-heading-sub"> @user2.Username </div>
                                        <div class="media-heading-sub">در انتظار تایید </div>
                                    }
                                    else
                                    {
                                        <h4 class="media-heading Default-Font"> @user1.FirstName @user1.LastName</h4>
                                        <div class="media-heading-sub"> @user2.Username </div>
                                        <a href="@Url.Action("AddFriend", "Account")" class="btn btn-sm btn-default green">تایید</a>
                                        <a href="@Url.Action("AddFriend", "Account")" class="btn btn-sm btn-default red">رد</a>
                                    }
                                </div>
                            </li>
                        }
                    </ul>*@
                    <hr />
                    <h3 class="list-heading Default-Font">همکاران شما</h3>
                    <ul class="media-list list-items">
                        <li class="media">
                            <div class="media-status">
                                <span class="badge badge-warning">2</span>
                            </div>
                            <img class="media-object" src="~/PackageAdmin/img/User.png" alt="...">
                            <div class="media-body">
                                <h4 class="media-heading">مصطفی عابدی</h4>
                                <div class="media-heading-sub"> user66 </div>
                                <div class="media-heading-small"> آخرین ورود 03:10 AM </div>
                            </div>
                        </li>
                        <li class="media">
                            <div class="media-status">
                                <span class="label label-sm label-success">جدید</span>
                            </div>
                            <img class="media-object" src="~/PackageAdmin/img/User.png" alt="...">
                            <div class="media-body">
                                <h4 class="media-heading">حسین آجری</h4>
                                <div class="media-heading-sub">
                                    admin44
                                   
                                </div>
                                <div class="media-heading-small"> آخرین ورود 03:10 AM </div>
                            </div>
                        </li>
                        <li class="media">
                            <img class="media-object" src="~/PackageAdmin/img/User.png" alt="...">
                            <div class="media-body">
                                <h4 class="media-heading">علی محمدی</h4>
                                <div class="media-heading-sub"> admin2 </div>
                                <div class="media-heading-small"> آخرین ورود 03:10 AM </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="page-quick-sidebar-item">
                    <div class="page-quick-sidebar-chat-user">
                        <div class="page-quick-sidebar-nav">
                            <a href="javascript:;" class="page-quick-sidebar-back-to-list">
                                <i class="icon-arrow-left"></i>بازگشت
                            </a>
                        </div>
                        <div class="page-quick-sidebar-chat-user-messages">
                            <div class="post out">
                                <img class="avatar" alt="" src="~/PackageAdmin/img/User.png" />
                                <div class="message">
                                    <span class="arrow"></span>
                                    <a href="javascript:;" class="name">علی</a>
                                    <span class="datetime">20:15</span>
                                    <span class="body"> سلام چطوری? </span>
                                </div>
                            </div>
                            <div class="post in">
                                <img class="avatar" alt="" src="~/PackageAdmin/img/User.png" />
                                <div class="message">
                                    <span class="arrow"></span>
                                    <a href="javascript:;" class="name">میلاد</a>
                                    <span class="datetime">20:15</span>
                                    <span class="body"> مرسی ممنون </span>
                                </div>
                            </div>
                           
                        </div>
                        <div class="page-quick-sidebar-chat-user-form">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="پیام خود را اینجا وارد نمایید ... ">
                                <div class="input-group-btn">
                                    <button type="button" class="btn green">
                                        <i class="fa fa-chevron-left"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane page-quick-sidebar-alerts" id="quick_sidebar_tab_2">
                <div class="page-quick-sidebar-alerts-list">
                    <h3 class="list-heading Default-Font">جدیدترین پیامها</h3>
                    <ul class="feeds list-items">
                        <li>
                            <div class="col1">
                                <div class="cont">
                                    <div class="cont-col1">
                                        <div class="label label-sm label-success">
                                            <i class="fa fa-user"></i>
                                        </div>
                                    </div>
                                    <div class="cont-col2">
                                        <div class="desc"> سلام دوست عزیز </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col2">
                                <div class="date"> 24 mins </div>
                            </div>
                        </li>
                       

                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- END QUICK SIDEBAR -->