@model IEnumerable<IranSoftjo.Package.WebUi.ViewModels.CommentVM>
@{
    ViewBag.Title = "مدیریت نظرات";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="k-rtl">
    @(Html.Kendo().Grid(Model)
          .Name("Grid")
          .Columns(columns =>
                   {
                       columns.Bound(model => model.CommentID).Width(50);
                       columns.Bound(model => model.UserName).Width(80);
                       columns.Bound(item => @item.CommentID).Width(300).Title("نظر").Filterable(false)
                           .Template(
                               @<text>
    @Html.Raw(@item.CommentText)
    </text>
                           ).Width(140);
                       columns.Bound(item => @item.CommentID).Title("دستورات").Filterable(false).Groupable(false)
                           .Template(
                               @<text>
    @Html.ActionLink("ویرایش", "Edit", new { id = @item.CommentID }, new { @class = "k-button k-button-icontext k-grid-edit" })
    @Html.ActionLink("حذف", "Delete", new { id = @item.CommentID }, new { @class = "k-button k-button-icontext k-grid-delete" })
    @if (!item.IsActive)
    {
        @Html.ActionLink("فعال", "Active", new { id = @item.CommentID }, new { @class = "k-button k-button-icontext k-grid-edit" })
    }
    </text>
                           ).Width(100);
                   })
          .Sortable()
          .Scrollable()
          .Filterable()
          .Pageable()
          .HtmlAttributes(new { style = "height:500px;" })
          .DataSource(dataSource => dataSource
              .Server()
              .Model(model => model.Id(item => item.CommentID))
          )
          )
</div>
