@using IranSoftjo.Package.DataModel
@using IranSoftjo.MvcPaging
@using IranSoftjo.Package.WebUi.ViewModels
@using Mehr
@model int
@{
    Layout = "~/Views/Shared/_LayoutNull.cshtml";
    var _db = new Entities();
    List<Comment> comments = _db.Comments.Where(d => d.SubID == Model && d.IsActive == true).OrderByDescending(d => d.CommentID).ToList();
    List<CommentVM> commentsVM = CommentVM.ToIEnumerable(comments).ToList();
    var currentPageIndex = (int)Session["searchpage"];
    var toPagedList = commentsVM.ToPagedList(currentPageIndex - 1, 4);
    
}
<div class="MainComment">
    <div style="margin-bottom: 30px;">
        <span class="NazarateShoma">نظرات شما  
        </span>
        <span style="float: left">
         
            <button style="margin-left: 10px;" class="k-button k-button-icontext" id="SendComment">ارسال نظر جدید</button>
        </span>
    </div>
    @foreach (var product in commentsVM)
    {
        <div class="CommentHeader">
            <div class="tarikh">تاريخ ثبت: <span dir="ltr">@product.CommentDate.LocalizeNumbers()</span></div>
            <div class="Name">
                @product.UserName
            </div>
        </div>
        <div class="CommentText">
            @product.CommentText
        </div>
        <br />
    }
    <div class="pager">
        @Html.Pager(toPagedList.PageSize, toPagedList.PageNumber, toPagedList.TotalItemCount).Options(o => o.PageRouteValueKey("Searchpage")
            .AlwaysAddFirstPageNumber())
    </div>
</div>

@(Html.Kendo().Window()
      .Name("windowSendComment")
      .Width(650)
      .Height(510)
      .Draggable()
      .Resizable()
      .Title("ارسال نظر جدید")
      .LoadContentFrom("SendComment", "Home", new { id = Model })
      .Iframe(true)
      .Visible(false)
      .Events(events => events
            .Close("onClose")
        )
      )
<script>
    function onClose(e) {
        this.destroy();
    }
    $(document).ready(function () {
        $("#SendComment")
            .bind("click", function () {
                $("#windowSendComment").data("kendoWindow").center().open();
            });
    });
</script>
