@using IranSoftjo.Core.Web.Mvc.Html
@model IranSoftjo.Package.WebUi.ViewModels.RasProductGroupVM
@{
    ViewBag.Title = "افزودن گروه محصول";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <hr />
</hgroup>
@using (Html.BeginForm())
{
    <table class="form">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        @Html.EnhancedEditorField(model => model.ProductGroupTitle)
        @Html.EnhancedEditorField(model => model.ProductGroupOrder)
        @Html.EnhancedCheckBoxField(model => model.IsActive)
        @Html.EnhancedSubmit("ایجاد")
    </table>
}
<div>
    @Html.ActionLink("بازگشت به لیست", "Index")
</div>
