@using IranSoftjo.Core.Web.Mvc.Html
@model IranSoftjo.Package.WebUi.ViewModels.ProductGroupVM
@{
    ViewBag.Title = "حذف گروه محصول";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@using (Html.BeginForm())
{
    <table class="form">

        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.ProductGroupID)
        @Html.EnhancedLabelField(model => model.ProductGroupTitle)
        @Html.EnhancedLabelField(model => model.ProductGroupOrder)
        @Html.EnhancedLabelField(model => model.IsActive)
        @Html.EnhancedSubmit("حذف صفحه")
    </table>
}
<div>
    @Html.ActionLink("بازگشت به لیست", "Index")
</div>
