@using IranSoftjo.Core.Web.Mvc.Html
@model IranSoftjo.Package.WebUi.ViewModels.PassengerVm
@{
    ViewBag.Title = "حذف مسافر";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="BreadCrumbPage">
    @Html.ActionLink("لیست مسافران", "Index")
    <strong>>></strong>
    @Html.ActionLink("حذف مسافر", "Create")
</div>
<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <hr />
</hgroup>
@using (Html.BeginForm())
{
    <table class="form">
        
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.PassengerID)
        @Html.EnhancedLabelField(model => model.Code)
        @Html.EnhancedLabelField(model => model.Name)
        @Html.EnhancedSubmit("حذف")
    </table>
}
@Html.ActionLink("بازگشت به لیست", "Index")